body{
	font-family:arial;
	font-size:15px;
	line-height:1.6em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.noListStyle{
	list-style:none;
}

a{
	text-decoration:none;
}

label{
	display:inline-block;
	width:180px;
}

input[type='text']{
	width:97%;
	padding:4px;
	border-radius:5px;
	border:1px #ccc solid;
}

input[type='number']{
	width:50px;
	padding:4px;
	border-radius:5px;
	border:1px #ccc solid;
}

.container{
	width:60%;
	margin:0 auto;
	overflow:auto;
}

.containerSmall{
	
    margin-left: 1px;
    margin-right: 400px;
    padding-left: 62px;
    padding-right: 317px;
    border-left-width: 10px;
    border-right-width: 100px;
    margin-top: 1px;

}

header{
	border-bottom:3px #f4f4f4 solid;
}

footer{
	border-top:3px #f4f4f4 solid;
	text-align:center;
	padding-top:5px;
}

main{
	padding-bottom:20px;
}

a.start{
	display:inline-block;
	color:#666;
	background:#f4f4f4;
	border:1px dotted #ccc;
	padding:6px 13px;
}

.current{
	padding:10px;
	background:#f4f4f4;
	border:#ccc dotted 1px;
	margin:20px 0 10px 0;
}

@media only screen and (max-width:960px){
	.container{
		width:80%;
    }
    /* nav{
        width: 90%;
    } */
}

nav{
    background-color: #111;
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav > ul > li > a {
    color: aliceblue;
    background-color: rgb(37, 37, 37);
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav li > ul li{

    display: block;
   
}
 
nav li > ul li a {
   
    color: #111;
    display: block;
    line-height: 2em;
   
    padding: 0.5em 2em;
    text-decoration: none;
}
    /* Change the background color when mouse over items */
nav a:hover {
    background-color: #666;
   
}
    
  /* display the submenu on mouse over main menu item*/
    
nav li:hover > ul{
    position:absolute;
    display : block;
}
.rightSide{
	float: right;
}
.nounderline{
	text-decoration: none !important;
	
}
body {
    text-align: center;
}

.fancyButton {
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #3745c5, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #3745c5, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #3745c5, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
}

.fancyButton span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #5276ec;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(220, 90%, 70%, .8)), to(rgba(109, 155, 247, 0.199)));
    background-image: -webkit-linear-gradient(hsla(220, 90%, 70%, .8), rgba(109, 155, 247, 0.199));
    background-image: -moz-linear-gradient(hsla(220, 90%, 70%, .8), rgba(109, 155, 247, 0.199));
    background-image: -o-linear-gradient(hsla(220, 90%, 70%, .8), rgba(109, 155, 247, 0.199));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(57, 30, 156, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.fancyButton:hover span {
    background-color: #3124ac;
    text-shadow: 0 -1px 1px rgba(57, 30, 156, 0.9), 0 0 5px rgba(255, 255, 255, .8);
}

.fancyButton:active, .fancyButton:focus {
    -webkit-box-shadow:    0 8px 0 #4037c5, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #4037c5, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #4037c5, 0 12px 10px rgba(0, 0, 0, .3);
}

.fancyButton:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.center{
	margin: auto;
    width: 100%;
     padding: 10px;
    text-align: center;
}
.container.halfSize{
	display: flex;
    justify-content: space-around;   
}

input[type=submit].finish {

	padding: 10px 15px 11px !important;
	font-size: 18px !important;
	background-color: #507c57;
	font-weight: bold;
	text-shadow: 1px 1px #3e6144;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/* border: 1px solid #507c57; */
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
    