
p {    
    font-family: bodyText;
}
h1 {
	font-family: title;
    margin-bottom: -15px;
	  font-size: 99px;
    color: #41210A;
  text-align: center;
  
}

.brown {
	font-family:head;
    color: #41210A; /*that monkey brown*/
       margin-right: 15%;
    margin-left: 15%; 
}
h3 {
  font-family: head;
  color: #41210A;
       margin-right: 15%;
    margin-left: 15%; 
	    font-size: 24px;
      
}
    img {
      max-width: 100%
}

blockquote{
color: #41210A;
}

Article > h1{ 
font-family: head;
  color: #41210A;
       /*margin-right: 15%;
    margin-left: 15%; */
	    font-size: 24px;
        
    }
article {
  width: 280px;
  float: left;
  background-color: #EFD09E;
  margin: 10px;
  padding: 10px;
  height: 500px;
  border-radius: 17px;

}
.smallerArt {
  width: 280px;
  float: left;
  background-color: #EFD09E;
  margin: 10px;
  padding: 10px;
  height: auto;
  border-radius: 17px;

}

h4 {

       margin-right: 15%;
    margin-left: 15%; 
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #F5D1A1;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
 
#nav li {
	float: left; }
 
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
 
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
 

 @font-face {
    font-family: title;
    src: url(HARLOWSI.TTF);
 }
 @font-face {
    font-family: head;
    src: url(ELEGANCE.TTF);
 }
 @font-face {
    font-family: bodyText;
    src: url(CORBELB.TTF);
}

    
body {
    font-family:body;
    background: #F8B332;
    color: white;
    font-size: 20px;
    margin: 0 auto;
}


footer {
    text-align: center;
    font-size: 17px;
    width: 100%;
}

/*the pic cont*/

    
a {
    font-family:manaspc;
   
    padding: 5px;
    text-decoration: none;
   
    line-height: 1.55;
}
a:hover{
    font-family:manaspc;
  
    color: white;
}

.force{
    
    margin: 0 auto;
    width: 960px;
    }
    
  .center {
    margin: auto;
    width: 100%;
     padding: 10px;
    text-align: center;
} 
.offCenter{
    padding-left: 90px;
    border-radius: 20%;
    margin: auto;
}

.smallpic{
   border-radius: 20%;
   margin-right: 25%;
    margin-left: 25%;
   
}
